tensorboard
termcolor
ftfy
omegaconf
regex
scikit-learn
torchmetrics
gdown
numpy
opencv-python
pyrender
pytorch-lightning
scikit-image
smplx==0.1.28
torch>=2.4.0
torchvision>=0.19.0
yacs
# chumpy @ git+https://github.com/mattloper/chumpy
timm
einops
pandas
# training extras
hydra-core
hydra-submitit-launcher
hydra-colorlog
pyrootutils
rich
webdataset
